.action-cell {
    display: flex;
    height: auto;
    justify-content: space-around;
}
.actions-btn {
    margin: 0px 3px;
    width: 35px;
    font-size: 11px;
  
}

.expense-type-icon {
    color :red;
}
.income-type-icon {
    color : green
}
.pagination {
    display: flex;
    justify-content: space-evenly;
    min-width: 200px;
    float: right;
    align-items: center;
}
.active {
    cursor: pointer;
    padding: 8px 15px;
    color:white;
  
    background : rgb(85, 85, 141);
}