.total-amount-card {
 
  border-radius: 15px;
  padding: 19px 10px;
  flex-direction: column;
  display: flex;
  justify-content: space-around;

  .amount-title {
    margin-bottom: 8px;
    color: blue;
    font-style: ExtraLight 500;
  }
  .amount-subtitle {
    margin: 0px 5px;
  }
}
